@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body{
  background-image: url(../images/horror-forest-background-for-photoshop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  height: 100%;
}
.about-section{
  margin: 2em 15% 5em 15%
}
.description-reverse{
  display: flex;
  font-size: 20px;
  flex-direction: column-reverse;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
.description{
  display: flex;
  font-size: 20px;
  flex-direction: column-reverse;
  align-items: center;
  font-family: 'Muli', sans-serif;
}

.img-about{
  border-radius: 100%;
}
.description .img-about{
  width: 9em;
  height: 15em;
  margin-top: 2em;
  margin-bottom: 0.5em;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.description:hover .img-about{
    -webkit-filter: blur(0);
    filter: blur(0);

}

@media screen and (min-width:800px){
  .img-about{
    width: 10em;
    height: auto;

  }
}

@media screen and (min-width:1000px){
  .description{
    flex-direction:row;
  }
  .img-about{
    margin-left: 6em;
  }
}