@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.DisplayMovies{
  margin-right: auto;
  margin-left: auto;
  /* background-color:rgba(0, 0, 0, 0.3); */
  width: 90%;
  padding-top: 20px;
  
}

.movieTitle{
  font-size: 40px;
  font-family: Lacquer;
  color: white;
}

.movieTxt{
  color:white;
  font-size: 20px;
  font-family: Muli;

}

.movieImg:hover{
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.movieImg{
  width: 300px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


@media screen and (min-width: 751px) {
  .movieTxt{
    font-size: 15px;
    font-family: Muli;
  }

  .movieTitle{
    font-size: 30px;
  }

  .movieImg{
    width: 250px;
  }
  

  
  
}