@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.containervideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.videoTag {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.home-text {
  position: sticky;
  padding: 14px;
  margin-top: 26px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.important-text {
  color: #FE810E;
  font-family: Lacquer;
  font-size: 30px;
  font-weight: bold;
}
.second-text {
  color: white;
  font-family: Lacquer;
  font-size: 18px;
  text-align: center;

}

@media screen and (min-width: 751px) {
.videoTag{
  width: auto;
  height: 120%;
}  
.home-text {
  padding: 5px;
  margin-top:250px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.important-text {
  font-size: 50px;
}
.second-text {
  font-size: 30px;
  line-height: 1px;
}
}