@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

.buttonRandom{
  /* background-color: rgba(238, 131, 9, 0.7); */
  border: none;
  padding: 70px;
  margin: 50px;
  border-radius: 70%;
  font-family: Creepster;
  color: white;
  font-size: 40px;
  background: linear-gradient(#f39757, #ef6200)
}

@media screen and (min-width: 751px) {


  
}
