@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
  


  .videoforest {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    
   }
   .forest {
    display: flex;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    
   }
   .top-movies, a {
    flex-direction: row;
    align-items: center;;
    margin-right: 0.5em;
    text-decoration: none;
    color: #FE810E;
    font-size:30px;
    font-family:  Lacquer;
    font-weight: bold;
  }
  .top-movies{
    display: flex;
    flex-direction: column;
    

}
  
  .img-top{
    flex-direction: column;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 150px;
  }
   
   @media screen and (min-width: 751px) {
    .forest{
      width: auto;
      height: 120%;
    } 
} 